.wrapper {
    background-origin: border-box;
    max-width: 1300px;    
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    display: block;
    position: relative;
}

.header {
    height: 556px;
    width: 100%;
    background: url("./assets/images/Header/Heder_test.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.header .patternHeader{
    width: 100%;
    height:  556px;
    background-image: url("./assets/images/Header/pattern.png" );
    opacity: .16;
    z-index:2;
    
}

.iconArea {
    width: 100%;
    height: 212px;
    background: no-repeat url(./assets/images/icon_area/icon_bg.png);
    background-size: cover;
    opacity: .40;
    box-shadow: -1px -5px 10px rgba(0,0,0,0.75), 1px 5px 7px rgba(0,0,0,0.75);
}

.patterniconArea{
    width: 100%;
    height: 212px;
    background: url(./assets/images/icon_area/pattern.png);
    opacity: .16;
    
}

.section1 {
    width: 100%;
    height: 509px;
    background: no-repeat url(./assets/images/section1/sectionbg.png);
    background-size: cover;
}

.section2 {
    width: 100%;
    height: 499px;
    background: no-repeat url(./assets/images/section2/section2bg.png);
    background-size: cover;
}

.patternSection2{
    width: 100%;
    height: 499px;
    background: url(./assets/images/section2/patern_2.png);
    opacity: .07;    
    
}

footer {
    width: 100%;
    height: 64px;
    background: no-repeat url(./assets/images/footer/footerbg.png);
    background-size: cover;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
}

.mainLogo img{
   position: absolute;
    
}

.logo{
    width: 83px;
    height: 83px;
    border-radius: 13px;
    z-index: 2;
    top: 30px;
    left: 142px;
    
}

.logoBg{
    width: 79px;
    height: 79px;
    opacity: .5;
    z-index: 1;
    top: 30px;
    left: 142px;
}

header h1{
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans", Arial;
    font-style: italic;
    text-align: center;
    top: 60px;
    left: 232px;
    position: absolute;
}
.navbar {
    background: url(./assets/images/Header/nav/Rectangle\ 2\ copy.svg);
    width: 453px;
    height: 41px;
    top: 71px;
    left: 707px;
    position: absolute;
    z-index: 3;
  
}
.navbarshadow1{
    background: url(./assets/images/Header/nav/Rectangle\ 2\ copy.svg);
    width: 453px;
    height: 41px;
    top: -5px;
    right: 4px;
    position: absolute;
    z-index: 1;
    opacity: .27;
    pointer-events: none;
}
.navbarshadow2{
    background: url(./assets/images/Header/nav/Rectangle\ 2\ copy.svg);
    width: 453px;
    height: 41px;
    top: -8px;
    right: 8px;
    position: absolute;
    z-index: 2;
    opacity: .27;
    pointer-events: none;
}

.navbar ul {
    display: flex;
}
.navbar ul li{
    background-color: #f5c506;
    width: 151px;
    height: 41px;
    text-align: center;
    border-right: 1px solid #dcb105;
    line-height: 41px;
 
}
.navbar ul li img{
    text-align: center;
    
}

.navIcon1{
    width: 21px;
    height: 19px;
    margin-right: 9px;
    
    
}
 .navIcon2{
    width: 19px;
    height: 19px;
    border-radius: 1px; 
    margin-right: 9px;   
}
.navIcon3{
    width: 24px;
    height: 18px;
    border-radius: 6px;  
    margin-right: 8px;
 
}

.navbar ul li a{
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP",Arial, Helvetica, sans-serif;
    z-index: 100;   
}
.navbar ul li a:hover{
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: white;
    font-family: "Segoe WP",Arial, Helvetica, sans-serif;
    z-index: 100;
    background: #000000;   
}

h2{
    text-transform: uppercase;
    font-size: 63px;
    letter-spacing: 1px;
    color: #f5c506;
    font-family: "Asap",Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    display: block;
    top: 258px;
    left: 750px;
    position: absolute;
}
.colorWhite{
    color: #ffffff;
}

.video .mainvideoimg {
    top: 168px;
    left: 150px;
    position: absolute;
    background: rgba(239, 220, 143, 0.03);
    
}

.video .playBottomElips{
    width: 67px;
    height: 67px;
    border-radius: 33px;
    top: 298px;
    left: 391px;
    position: absolute;
    opacity: .70;
}

.video .playBottom{
    width: 19px;
    height: 34px;
    top: 315px;
    left: 418px;
    position: absolute;
    opacity: .70;
}
.video .playBottom:hover{
    width: 19px;
    height: 34px;
    top: 315px;
    left: 418px;
    position: absolute;
    opacity: 1;
    
}

.video .secondPlayRectangle{
    top: 446px;
    left: 179px;
    position: absolute;
}

.video .secondPlayBottom{
    width: 10px;
    height: 17px;
    top: 451px;
    left: 189px;
    position: absolute;
    opacity: .36;
}
.video .secondPlayBottom:hover{
    width: 10px;
    height: 17px;
    top: 451px;
    left: 189px;
    position: absolute;
    opacity: 1;
}
.video .videoBarNow{
    top: 454px;
    left: 230px;
    position: absolute;
}
.video .videoBarAll{
    top: 454px;
    left: 230px;
    position: absolute;
    opacity: 0.3;
}
.prePage .prePageBG{
    margin-left: 0 !important;
    top: 300px;
    left: 0px;
    position: fixed;
}

.prePage .prePageBottom{
    margin-left: 0 !important;
    top: 319px;
    left: 8px;
    position: fixed;
    z-index: 2;
}
.nextPage .nextPageBG{
    margin-right: 0 !important;
    top: 300px;
    right: 0px;
    position: fixed;

}
.nextPage .nextPageBottom{
    margin-right: 0 !important;
    top: 319px;
    right: 8px;
    position: fixed;
    z-index: 2;
}

