.wrapperDesktop {
    max-width: 1300px;  
    margin: 0 auto;
    display: block;
    position: relative;
}

.wrapperMobile {
    display: none;
}

.header {
    height: 556px;
    width: 100%;
    background: url("./assets/images/Header/Heder_test.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.header .patternHeader {
    width: 100%;
    height:  556px;
    background-image: url("./assets/images/Header/pattern.png" );
    opacity: .16;
    z-index:2;
}

.iconArea {
    width: 100%;
    height: 212px;
    background: rgba(235,235,235,0.4);
    background-size: cover;
    box-shadow: -1px -5px 10px rgba(0,0,0,0.3), 1px 5px 7px rgba(0,0,0,0.3);
    position: relative;
}

.patterniconArea {
    width: 100%;
    height: 212px;
    background: url(./assets/images/icon_area/pattern.png);
    opacity: .07;
}

.section1 {
    width: 100%;
    height: 509px;
    background: no-repeat url(./assets/images/section1/sectionbg.png);
    background-size: cover;
    position: relative;
}

.section2 {
    width: 100%;
    height: 499px;
    background: no-repeat url(./assets/images/section2/section2bg.png);
    background-size: cover;
    position: relative;
}

.patternSection2 {
    width: 100%;
    height: 499px;
    background: url(./assets/images/section2/patern_2.png);
    opacity: .07;    
}

footer {
    width: 100%;
    height: 64px;
    background: no-repeat url(./assets/images/footer/footerbg.png);
    background-size: cover;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
    position: relative;
}

.mainLogo img{
   position: absolute;
}

.logo {
    width: 83px;
    height: 83px;
    border-radius: 13px;
    z-index: 1;
    top: 17px;
    left: 142px;
    opacity: .5;
}

.logoBg {
    width: 79px;
    height: 79px;
    z-index: 2;
    top: 17px;
    left: 142px;
}

header h1 {
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans", Arial;
    font-style: italic;
    text-align: center;
    top: 43px;
    left: 229px;
    position: absolute;
}

.navbar {
    background: url(./assets/images/Header/nav/Rectangle\ 2\ copy.svg);
    width: 453px;
    height: 41px;
    top: 61px;
    left: 707px;
    position: absolute;
    z-index: 3;
}

.navbarshadow1 {
    background: url(./assets/images/Header/nav/Rectangle\ 2\ copy.svg);
    width: 453px;
    height: 41px;
    top: -5px;
    right: 4px;
    position: absolute;
    z-index: 1;
    opacity: .27;
    pointer-events: none;
}

.navbarshadow2 {
    background: url(./assets/images/Header/nav/Rectangle\ 2\ copy.svg);
    width: 453px;
    height: 41px;
    top: -8px;
    right: 8px;
    position: absolute;
    z-index: 2;
    opacity: .27;
    pointer-events: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    background-color: #f5c506;
    width: 151px;
    height: 41px;
    text-align: center;
    border-right: 1px solid #dcb105;
    line-height: 41px;
}

.navbar ul li img {
    text-align: center;
}

.navIcon1 {
    width: 21px;
    height: 19px;
    margin-right: 9px;      
}

 .navIcon2 {
    width: 19px;
    height: 19px;
    border-radius: 1px; 
    margin-right: 9px;   
}

.navIcon3 {
    width: 24px;
    height: 18px;
    border-radius: 6px;  
    margin-right: 8px;
}

.navbar ul li a {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP",Arial, Helvetica, sans-serif;
    z-index: 100;   
    text-decoration: none;
}

.navbar ul li a:hover {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: white;
    font-family: "Segoe WP",Arial, Helvetica, sans-serif;
    z-index: 100;
    background: #000000;   
}

h2 {
    text-transform: uppercase;
    font-size: 63px;
    letter-spacing: 1px;
    color: #f5c506;
    font-family: "Asap",Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    display: block;
    top: 239px;
    left: 744.9px;
    position: absolute;
    line-height: 70px;
}

.colorWhite {
    color: #ffffff;
}

.video .mainvideoimg {
    top: 158px;
    left: 150px;
    position: absolute;
    background: rgba(239, 220, 143, 0.03); 
}

.video .playBottomElips {
    width: 67px;
    height: 67px;
    border-radius: 33px;
    top: 286px;
    left: 391px;
    position: absolute;
    opacity: .70;
}

.video .playBottom {
    width: 19px;
    height: 34px;
    top: 306px;
    left: 418px;
    position: absolute;
    opacity: .70;
}

.video .playBottom:hover {
    opacity: 1;   
}

.video .secondPlayRectangle {
    top: 434px;
    left: 179px;
    position: absolute;
}

.video .secondPlayBottom {
    width: 10px;
    height: 17px;
    top: 439px;
    left: 189px;
    position: absolute;
    opacity: .36;
}

.video .secondPlayBottom:hover {
    opacity: 1;
}

.video .videoBarNow {
    top: 444px;
    left: 230px;
    position: absolute;
}

.video .videoBarAll {
    top: 442px;
    left: 230px;
    position: absolute;
    opacity: 0.3;
}

.video .videoSound {
    top: 442px;
    left: 665px;
    position: absolute;
}

.prePage .prePageBG {
    top: 288px;
    left: 0px;
    position: absolute;
}

.prePage .prePageBottom {
    top: 307px;
    left: 8px;
    position: absolute;
    z-index: 2;
}

.nextPage .nextPageBG {
    top: 288px;
    right: 0px;
    position: absolute;
}

.nextPage .nextPageBottom {
    top: 307px;
    right: 8px;
    position: absolute;
    z-index: 2;
}

.nextPageBottom:hover {
    background: black;
}
.prePageBottom:hover {
    background: black;
}

.iconImage {
    width: 100%;
    display: block;
    position: absolute;
    top: 18.9%;
}

.iconBDImg {
    top: 61px;
    width: 109px;
    height: 74px;
    margin-left: 253.7px;;
}

.iconCustImg {
    top: 37px;
    width: 91px;
    height: 95px;
    margin-left: 242.8px;
}

.iconItsFreeImg {
    top: 54px;
    width: 81px;
    height: 83px;
    margin-left: 228.8px;
}

.iconText {
    width: 100%;
    display: block;
    position: absolute;
    top: 70%;
    left: 229px;
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    
}

.iconCusttext{
    margin-left: 175.6px;
}

.iconItsFreetext{
    margin-left: 199.1px;
}

.iconHorizontalLine {
    position: absolute;   
    top: 0;
    width: 1px;
    height: 213px;    
}

.iconHorizontalLine1 {
    position: absolute;
    margin-left: 139px;
}

.iconHorizontalLine2 {
    position: absolute;
    margin-left: 480px;
}

.iconHorizontalLine3 {
    position: absolute;
    left: 819px;
}

.iconHorizontalLine4 {
    position: absolute;
    left: 1159px;
}

.section1 h3 {
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans",Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 140px;
}

.section1 p {
    width: 341px;
    height: 233px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP",Arial, Helvetica, sans-serif;
    font-weight: 300;
    position: absolute;
    top: 104px;
    left: 139px;
    padding: 25px 38px 34px 31px;
    z-index: 10;
}

.textBgSection1 {
    position: absolute;
    left: 139px;
    top: 110px;
}

.plusSection1 {
    position: absolute;
    width: 11px;
    height: 11px;
    opacity: .7;
    left: 455px;
    top: 319px;
    z-index: 10;
}

.plusSection1:hover {
    opacity: 1;
}

.mainImageSection1 {
    position: absolute;
    left: 480px;
    top: 110px;
}

.ellipsePlayBottomSection1 {
    position: absolute;
    left: 608px;
    top: 201px;
    opacity: .72;
}

.playBottomSection1 {
    position: absolute;
    left: 633px;
    top: 216px;
}

.playBottomSection1:hover {
    opacity: .3;
}

.twitterBG {
    position: absolute;
    left: 829px;
    top: 110px;
}

.twitterImg {
    position: absolute;
    left: 906px;
    top: 168px;
}

.twitterPlus {
    position: absolute;
    left: 1132px;
    top: 319px;
    opacity: .72;
}

.twitterPlus:hover {
    opacity: 1;
}

.twitterNumber {
    position: absolute;
    left: 1115px;
    top: 130px;
}

.dateBG {
    position: absolute;
    left: 139px;
    top: 343px; 
}

.dateDay{
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI",Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 169px;
    top: 355px;
}

.dateMonth {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI",Arial, Helvetica, serif;
    position: absolute;
    left: 172px;
    top: 392px;
}

.sladerBG{
    position: absolute;
    left: 211px;
    top: 469px;
    opacity: .48;
}

.slader {
    position: absolute;
    left: 458px;
    top: 469px;
}

h4 {
    font-size: 42.9px;
    letter-spacing: -2.7px;
    color: #f5c506;
    font-family: "PT Sans Narrow",Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 350.3px;
    top: 43px;
    text-transform: uppercase;
}

.desktopImg {
    position: absolute;
    left: 156px;
    top: 135px;
    
}

.laptopImg {
    position: absolute;
    left: 504px;
    top: 178px;
}

.phoneImg {
    position: absolute;
    left: 659px;
    top: 289px;
}

.ellipseSector2 {
    position: absolute;
    left: 134px;
    top: 92px;
}

.ellipsText {
    width: 105px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans Narrow",Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    left: 145px;
    top: 147px;
    z-index: 5;
}

.text1 {
    width: 352px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 812px;
    top: 187px;
}

.text2 {
    width: 352px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 812px;
    top: 234px;
}

.text3 {
    width: 352px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 812px;
    top: 301px;
}

.text4{
    width: 352px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 812px;
    top: 351px;
}

.textMarker1 {
    position: absolute;
    left: 778px;
    top: 187px;
}

.textMarker1 + .textMarker1 {
    position: absolute;
    top: 238px;
}

.textMarker1 + .textMarker1 + .textMarker1 {
    position: absolute;
    top: 304px;
}

.textMarker1 + .textMarker1 + .textMarker1 + .textMarker1 {
    position: absolute;
    top: 355px;
}

.footerLogo{
    width: 54px;
    height: 54px;
    border-radius: 9px;
    position: absolute;
    left: 141px;
    top: 1px;
}

.footerLogoBG {
    width: 51px;
    height: 51px;
    position: absolute;
    left: 141px;
    top: 1px;
    opacity: .5;
}

.footerName {
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans",Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 201px;
  top: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:400,700|PT+Sans|PT+Sans+Narrow:700&display=swap');

@media screen and (max-width: 1300px) {
    .wrapperDesktop {
        display:none;
    }
    
    .wrapperMobile {
        max-width: 640px;  
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .mobileLogo {
        height: 62px;
        background:url("./assets/images/MobailVersion/logo/Layer\ 26@1X.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .mobileLogo img {
        position: absolute;
        top: 9px;
        left: 10px;
    }

    .mobileLogo img + img{
        position: absolute;
        top: 11px;
        left: 11px;
        opacity: .45;
    }

    .mobileLogo h1 {
        position: absolute;
        top: 25px;
        left: 58px;
        font-size: 19px;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: "Lucida Sans",Arial, Helvetica, sans-serif;
        font-style: italic;
    }

    .mobileNavBar {
        position: absolute;
        top: -1px;
        left: 184px;
        background: url("./assets/images/MobailVersion/navBar/Rectangle\ 2\ copy.svg");
        width: 456.9px;
        height: 63px;
        background-size: cover;  
    }

    .mobileNavBar img {
        position: absolute;
        top: 19px;
        left: 23px;
    }
    
    .mobileNavBar img + img {
        position: absolute;
        top: 20px;
        left: 179px;
    }

    .mobileNavBar img + img + img {
        position: absolute;
        top: 18px;
        left: 317px;
    }

    .mobileNavBar img + img + img + img {
        position: absolute;
        top: 0px;
        left: 306px;
    }

    .mobileNavBar img + img + img + img + img {
        position: absolute;
        top: 0px;
        left: 173px;
    }

    .mobileNavBar ul {
        display: flex;
        text-align: center;
    }

    .mobileNavBar ul li {
        font-size: 19px;
        letter-spacing: 0px;
        color: #9b7d08;
        font-family: "Segoe WP";
        text-align: center;
        margin: 24px;
        margin-left: 57px;
        margin-right: 0;
    }
    .mobileNavBar ul li:hover{
        background: #000000;
        color:  white;
    }

    .videoMobile {
        position: relative;
        background: url("./assets/images/MobailVersion/Video/Layer\ 17@1X.png");
        height: 327px;
        width: 100%;
    }

    .videoMobile .playBottomVideoBG {
        position: absolute;
        top: 129px;
        left: 292px;
        opacity: .7;
    }

    .videoMobile .playBottomVideo {
        position: absolute;
        top: 145px;
        left: 321px;
    }

    .videoMobile .playBottomVideo:hover {
      opacity: .3;
    }
    
    .videoMobile .secondPlayBottomBG {
        position: absolute;
        top: 278px;
        left: 83px;
    }
    
    .videoMobile .secondPlayBottom {
        position: absolute;
        top: 281px;
        left: 92px;
        opacity: .35;
    }
    .videoMobile .secondPlayBottom:hover {
      opacity: 1;
    }

    .videoMobile .videoBarAll{
        position: absolute;
        top: 284px;
        left: 131px;
        opacity: .3;
        z-index: 3;
    }

    .videoMobile .videoBarNow{
        position: absolute;
        top: 286px;
        left: 134px;
    }

    .videoMobile .videoVolume{
        position: absolute;
        top: 284px;
        left: 567px;
    }
    .midBar {
        position: relative;
        width: 100%;
        height: 174px;
        border-color: #ffffff;
    }

    .midBar img {
        position: absolute;
        top: 31px;
        left: 42px;
    }
    
    .midBar img + img {
        position: absolute;
        top: 27px;
        left: 289px;
    }

    .midBar img + img + img {
        position: absolute;
        top: 27px;
        left: 494px;
    }

    .midBar ul {
        display: flex;
        text-align: center;
    }

    .midBar ul li {
        font-size: 23px;
        letter-spacing: 0px;
        color: #000000;
        font-family: "Segoe UI";
        font-weight: 300;
        text-align: center;
        margin-top: 116px;
        margin-left: 18px;
    }

    .midBar ul li + li {
        margin-left: 98px;
    }

    .midBar ul li + li + li {
        margin-left: 108px;
    }

    .mobileSection1 {
        position: relative;
        width: 100%;
        height: 252px;
        background: #ffffff;
        z-index: 1s;
    }

    .mobileSection1 p{
        width: 299px;
        height: 232px;
        font-size: 29px;
        letter-spacing: 0px;
        line-height: 33px;
        color: #ffffff;
        background-image: url("./assets/images/MobailVersion/section1/Layer 28@1X.png");
        background-repeat: no-repeat;
        font-family: "Segoe WP",Arial, Helvetica, sans-serif;
        text-align: left;
        font-weight: 300;
        z-index: 10;
        margin: 7px 8px;
        padding: 17px 24px;

    }
  
    .mobileSection1 img {
        position: absolute;
        top: 203px;
        left: 284px;
    }

    .mobileSection1 img + img {
        position: absolute;
        top: -1px;
        left: 317px;
    }

    .mobileSection1 img + img + img {
        position: absolute;
        top: 90px;
        left: 444px;
        opacity: 0.7;
    }

    .mobileSection1 img + img + img + img {
        position: absolute;
        top: 106px;
        left: 470px;
    }
    .mobileSection1 img + img + img + img:hover {
        opacity: 0.3;
    }
}



